<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<%= link_to "logout", destroy_user_session_path, :method => :delete %>
<ul>
  <li class="item1">jason</li>
  <li class="item2">thomas</li>
  <li class="item3"></li>
  <li class="item4"></li>
  <li class="item5"></li>
</ul>
</body>
</html>