<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<%= link_to "logout", destroy_user_session_path, :method => :delete %>

Upload your photos: <br>
<%= link_to 'Photos', photos_path, controller :photos, :method => :post %>

</body>
</html>