<html>
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
<%= link_to "logout", destroy_user_session_path, :method => :delete %> <br>

Upload your photos: <br>

<form action="/photos"
enctype="multipart/form-data" method="post">
<p>
Type an emotion (if you like):<br>
<input type="text" name="emotion" size="30">
</p>
<p>
Type an season :<br>
<input type="text" name="season" size="30">
</p>
<p>
Type a location :<br>
<input type="text" name="geolocation" size="30">
</p>
<p>

<div id="photo-upload">
Upload an photo:
<input type="file" name="uploaded_photo" size="30"><br>
<input type="submit" value="Send">
</div>
</form>
<%= @photos %>


</body>
</html>